@media only screen and (max-width: 600px){
    .nav-container{
        flex-direction: column;
    }
    .list-item{
flex-direction: column;
    }
    .goat-container{
        flex-direction: column-reverse;
    }
    .left-container{
        width: 100%;
        margin: 0 auto;
        
    }
    .right-container{
        width:100%;
        text-align: center;
    }
    .group18{
        width: 300px;
        height: 300px;
        
    }
    .bottom-container{
        flex-direction: column;
        gap: 100px;
    }
    .card-title{
        font-size: 2rem;
    }
    .color-title{
    font-size: 2rem;
    }
    .gameing-banner{
        flex-direction: column-reverse;
    }
}
