@media only screen and(max-width:576px){
    .nav-container{
        flex-direction: column;
    }
    .list-item{
flex-direction: column;
    }
    .goat-container{
        flex-direction: column-reverse;
    }
    .left-container {
        width: 100%;
        padding: 20px;
        margin: 10px 0px 20px 10px;
    }
    .right-container{
        width:100%;
        text-align: center;
    }
    .group18{
        width: 300px;
        height: 300px;
        
    }
    .bottom-container{
        flex-direction: column;
        gap: 100px;
    }
    .card-title{
        font-size: 2rem;
    }
    .color-title{
    font-size: 2rem;
    }
    .gameing-banner{
        flex-direction: column-reverse;
    }
    .grid-names{
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
    }
    .grid-icon{
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
        margin-left: 60px;
    }
    .grid-terms{
        display: grid;
        grid-template-columns: repeat(2 ,2fr);
    }
    .gaming-discription{
        margin: 40px 20px 20px 0px

    }
    .gameing-banner img{
        margin:0 auto;
    }
    .small{
        width: 170px;
    }
    .btn-container{
        margin-top: 184px;
    }
    footer{
        width: 100%;
    }


}
