/* goggle font work sans  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ysabeau+Office:ital,wght@0,1;0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* goggle font work sans!  */
/* all selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/* nav desgin start  */
header{
    border-bottom: 1px solid #e1e1e180;
}
.nav-container{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 0 1.5rem 0;
}
.logo-container{
    
    display: flex;
    align-items: center;
    width: 50%;
    flex-direction: row;
    justify-content: center;
}
.logo-title{
    padding-left: 1rem;
    font-size: 2rem;
    font-weight: 700;
}
.pink{
    color: #FF42A5;
}
.items-container{
    width: 50%;
    display: flex;
    justify-content: center;
}
.list-item{
    display: flex;
    gap: 30px;
    align-items: center;
}
.list-item li{
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
}
.list-item li a{
text-decoration: none;
color: #3C354F;
}
.follow-us-on{
    padding: 7px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    display:flex;
    align-items: center;
    gap: 10px;
}
.icon-image{
    width:20px;
}
.logo-icon {
    width: 60px;
    object-fit: cover;
}
/* nav desgin end  */
/* GOAT SECTION  */
.goat-container{
    display: flex;
}
.left-container{
    width: 50%;
    background-image: url("/images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.right-container{
    width: 50%;
    color: #FFFFFF;
}
.goat-title{
color: #0B0223;
font-size: 2rem;
font-weight: 600;
text-transform: uppercase;
}
.goat{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 4rem;
}
.group18 {
    width: 540px;
    height: 500px;
    padding-left: 30px;
}
.left-container {padding: 100px 5px 50px 241px;}
.goat-p{
color: #534C64;
font-size: 1rem;
font-weight: 500;
line-height: normal;
text-transform: lowercase;
}
.goat-i{
    width: 1rem;
    height: 1rem;
}
.button{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.btn ,.btn-primary {
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 30px;
    border: none;
    background: #FF42A5;
    color: white;
}
.btn-primary{
    background-color: #4EC5F7;
}
img.goat-icon {
    width: 1rem;
}

span.goat-p {
    padding-left: 5px;
    line-height: 2;
}
.hide{
    display: none;
}